[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/tm-tokenmaster"]
	path = lib/tm-tokenmaster
	url = https://github.com/limit-break-inc/tm-tokenmaster
